<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section>
            <h1 class="clearfix">
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
        <section id="follow_form">
            <%= render 'follow_form' if signed_in? %>
        </section>
    </aside>
    <div class="col-md-8">
        <% if @user.posts.any? %>
            <h3>博客(<%= @user.posts.count %>)</h3>
            <ol class="posts">
                <%= render @posts %>
            </ol>
            <%= will_paginate @posts %>
        <% end %>
    </div>
</div>
