<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <a href="<%= root_path %>" id="logo" class="navbar-brand">
        <span>Yi</span>Bo
      </a>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li><%= link_to "首页", root_path %></li>
        <li><%= link_to "帮助", help_path %></li>
        <% if signed_in? %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    账户&nbsp;<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "个人资料", current_user %></li>
                    <li><%= link_to "设定", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "注销", signout_path, method: "delete" %>
                </ul>
            </li>
        <% else %>
            <li><%= link_to "登录", signin_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
